<div *ngIf="loading"  >
    <app-load-spinner></app-load-spinner>
</div>
<div *ngIf="!loading" id="educationComponent" style="background-color: rgb(207, 207, 207);">
            <div fxLayout="column" >
                <div class="name-container">Education</div>
                <mat-divider style="background-color: #424242; margin-left: 50px; margin-right: 30px;"></mat-divider>
                <div class="education-text">
                    <p style="font-size: 30px;">National Senior Certificate</p>
                    <p style="font-size: 15px;">2017-2017</p>
                    <p style="font-size: 25px;">Frances Baard Northern Cape Department of Education</p>
                    <p style="font-size: 25px;">Northern-Cape High School</p>
                </div>
                <div class="education-text">
                    <p style="font-size: 30px;">Bachlor of Science in Information Technology</p>
                    <p style="font-size: 15px;">2019-2021</p>
                    <p style="font-size: 25px;">North-West University - Potchefstroom, South Africa</p>
                    <p style="font-size: 25px;">Passed with Distinction</p>
                    <p style="font-size: 25px;">Member of Golden Key Society</p>
                </div>
                <div class="education-text">
                    <p style="font-size: 30px;">The Complete 2021 Flutter Development Bootcamp with Dart</p>
                    <p style="font-size: 15px;">2022-2022</p>
                    <p style="font-size: 25px;">Certificate of Completion issued by Udemy.com</p>
                </div>
            </div>
</div>

