<div class="background" id="educationComponent">
            <div fxLayout="column" >
                <div class="name-container">Education</div>
                <mat-divider style="background-color: #424242; margin-left: 50px; margin-right: 50px; height: 2px;"></mat-divider>
                <div class="education-text">
                    <p style="font-size: 30px; font-style: italic;">National Senior Certificate</p>
                    <p style="font-size: 15px;">2017 - 2017</p>
                    <p style="font-size: 25px;">Frances Baard Northern Cape Department of Education</p>
                    <p style="font-size: 25px;">Northern Cape High School</p>
                </div>
                <div class="education-text">
                    <p style="font-size: 30px; font-style: italic;">Bachlor of Science in Information Technology</p>
                    <p style="font-size: 15px;">2019 - 2021</p>
                    <p style="font-size: 25px;">North-West University - Potchefstroom, South Africa</p>
                    <p style="font-size: 25px;">Passed with Distinction</p>
                    <p style="font-size: 25px;">Member of Golden Key Society</p>
                </div>
                
                <div class="name-container" id="coursesComponent">Courses</div>
                <mat-divider style="background-color: #424242; margin-left: 50px; margin-right: 50px; height: 2px;"></mat-divider>
                <div class="education-text">
                    <p style="font-size: 30px; font-style: italic;">The Complete 2021 Flutter Development Bootcamp with Dart</p>
                    <p style="font-size: 15px;">2022 - 2022</p>
                    <p style="font-size: 25px;">Certificate of Completion issued by Udemy.com</p>
                </div>
                <div class="education-text">
                    <p style="font-size: 30px; font-style: italic;">Introduction to Packet Tracer</p>
                    <p style="font-size: 15px;">2021 - 2021</p>
                    <p style="font-size: 25px;">Certificate of Completion issued by Cisco's netacad.com</p>
                </div>
                
                <div class="name-container" id="workComponent">Work Experience</div>
                <mat-divider style="background-color: #424242; margin-left: 50px; margin-right: 50px; height: 2px;"></mat-divider>
                <div class="education-text">
                    <p style="font-size: 30px; font-style: italic;" >Student Assistant</p>
                    <p style="font-size: 15px;">2021 - Present</p>
                    <p style="font-size: 25px;">North-West University - Potchefstroom, South Africa</p>
                    <p style="font-size: 25px;">Responsibilites:</p>
                    <ul style="font-size: 25px;">
                        <li style="margin-bottom: 10px;">Supporting student learning objectives through personalised and small group assistance</li>
                        <li style="margin-bottom: 10px;">Tutoring individual students in need of additional aid</li>
                        <li style="margin-bottom: 10px;">Marking assignments and tests of students</li>
                        <li style="margin-bottom: 10px;">Reporting to instructor to receive tasks and responsibilites</li>
                    </ul>
                </div>

                <div class="name-container" id="workComponent">Skills</div>
                <mat-divider style="background-color: #424242; margin-left: 50px; margin-right: 50px; height: 2px; margin-bottom: 50px;"></mat-divider>
                    <p class="skills">C++</p>
                    <mat-progress-bar class="prog-bar" mode="determinate" value="65" ></mat-progress-bar>
                    <p class="skills">C#/.NET</p>
                    <mat-progress-bar class="prog-bar" mode="determinate" value="70" ></mat-progress-bar>
                    <p class="skills">Java</p>
                    <mat-progress-bar class="prog-bar" mode="determinate" value="55" ></mat-progress-bar>
                    <p class="skills">JavaScript/Typescript, HTML, CSS</p>
                    <mat-progress-bar class="prog-bar" mode="determinate" value="70" ></mat-progress-bar>
                    <p class="skills">Angular</p>
                    <mat-progress-bar class="prog-bar" mode="determinate" value="75" ></mat-progress-bar>
                    <p class="skills">Flutter/Dart</p>
                    <mat-progress-bar class="prog-bar" mode="determinate" value="70" ></mat-progress-bar>
                    <p class="skills">SQL (MySQL, Oracle)</p>
                    <mat-progress-bar class="prog-bar" mode="determinate" value="60" ></mat-progress-bar>
                    <p class="skills">GitHub Collaboration</p>
                    <mat-progress-bar class="prog-bar" mode="determinate" value="80" ></mat-progress-bar>
    
                <div style="height: 80px;"></div>
                
            </div>
</div>

