.sidenav-content {
  display: flex;
  height: 100%;
  z-index: 6;
  align-items: center;
  justify-content: center;
}

.sidenav {
  width: 280px;
  padding: 20px;
}

.navbut-container {
  background-color: #424242;
    height: 50px;
    width: 50px;
    position: fixed; 
    right: 3rem; 
    top: 2rem;
    z-index: 5;
}

.navicon {
    font-size: 32px; 
    width: 37px; 
    height: 37px; 
    vertical-align: bottom;
}

mat-drawer-container {
  height: 100vh!important;
}