.name-container {
    margin-top: 60px;
    margin-bottom: 100px;
    font-size: 50px; 
    display: block; 
    padding: 20px; 
    position: relative; 
    overflow-wrap: break-word; 
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 1px black;
}

.contact {
    background-image: url(/assets/images/Contact-Details.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    // background-color: aliceblue;
    // overflow: hidden;
    margin: auto;
}

.img-links {
    display: block;
    margin: auto;
}

.link-butt {
    margin-right: 20px;
}

.link-butt:hover {
    cursor: pointer;
    transform: translateY(-0.15rem);
    transition: transform 150ms;
}

.contact-elements {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 2px 2px 1px black;
}


