<div id="personalComponent" >
    <app-sidenav>
        <div class="contact">
            <div fxLayout="column">
                <div class="name-container">Contact Details</div>
                <p class="contact-elements">Jaden Harding</p>
                <p class="contact-elements">Potchefstroom North-West, 2520</p>
                <p class="contact-elements">hardingjr@protonmail.com</p>
                <div fxLayout="row">
                    <div class="img-links">
                        <a href="https://linkedin.com/in/jaden-harding-42762b236" target="_blank">
                            <img height="50px" src="assets/images/linkedin.png" class="link-butt" style=" margin-top: 40px;">
                        </a>
                        <a href="https://github.com/Jaden-Harding" target="_blank">
                            <img height="50px" src="assets/images/github.png" class="link-butt">
                        </a>
                        <a href="https://www.instagram.com/jr_harding20/" target="_blank">
                            <img height="50px" src="assets/images/instgram1.png" class="link-butt">
                        </a>
                    </div>
                    </div>

        </div>
        <div style="height: 80px;"></div>
    </div>
    </app-sidenav>

</div>
