<div *ngIf="loading"  >
    <app-load-spinner></app-load-spinner>
</div>
<div class="background">
    <div *ngIf="!loading" id="githubComponent">
                <div *ngIf="user" > 
                    <div class="name-container" style="margin-top: 20px;">Take a look at some of my Projects</div>
                    <div fxLayout="row wrap" fxLayoutAlign="center" >
                    <div *ngFor="let repo of repos"  >
                            <mat-card class="card" >
                                <mat-card-header>
                                    <div mat-card-avatar class="header-image"><img class="img-profile" [src]="user?.avatar_url"></div>
                                    <mat-card-title style="font-size: 26px; font-weight: bold;" >{{repo?.name}}</mat-card-title>
                                    <mat-card-subtitle style="text-align: left; font-size: 16px;" >{{user?.login}}</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image [src]="'assets/images/' + repo?.name + '.png'" [alt]="'Repo:' + repo?.name">
                                <mat-card-content>
                                    <p style="font-size: 20px;" >{{repo?.description}}</p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <a [href]="repo?.html_url" mat-button class="git-butt">
                                        <span style="margin-right: 5px;" >Source Code </span>
                                        <img src="assets/images/github.png" style="font-size: 20px; height: 20px; width: 20px;" >                       
                                    </a>          
                                </mat-card-actions>
                            </mat-card>  
                    </div>
                </div>
                </div>
    </div>
    <div style="height: 40px;"></div>
</div>
 
