<div >
    <app-sidenav>
        <div >
        <app-flex-layout-wrapper>
            <div class="landing">
                <div fxLayout="column" id="landingComponent" >
                    <div style="padding-top: 20px;">
                        <!-- <div class="img-container">
                            <img src="assets/images/Jaden-Harding.jpg">
                        </div> -->
                        <div class="name-container" >Jaden Harding </div>
                    </div>    
                    <div fxLayout="row">
                        <div class="img-links">
                            <a href="https://linkedin.com/in/jaden-harding-42762b236" >
                                <img height="50px" src="assets/images/linkedin.png" class="link-butt">
                            </a>
                            <a href="https://github.com/Jaden-Harding">
                                <img height="50px" src="assets/images/github.png" class="link-butt">
                            </a>
                            <a href="https://www.instagram.com/jr_harding20/">
                                <img height="50px" src="assets/images/instgram1.png" class="link-butt">
                            </a>
                            
                            
                        </div>

                    </div>
                    <div class="about">
                            <div style="font-size: 2.5rem; padding-bottom: 40px; padding-top: 1rem; font-weight: bold; color: whitesmoke;" >About Me</div>
                            <div class="text-container" >I am a Bsc Computer Science graduate, currently enrolled in a Bsc Honours in Computer Science. I graduated with distinction and have 
                                built my software development and team management skills through projects which are application, mobile and web based.  
                            </div>
                            <div class="text-container" style="padding-top: 15px;">By the way, this portfolio website was developed using Angular, its Material library and the GitHub API.</div>
                        </div>
                </div>
        </div>
        </app-flex-layout-wrapper >
    </div>      
        <div  >
            <app-github-projects></app-github-projects>
        </div>
        <div  >
            <app-education></app-education>
        </div>
        <div >
            <app-personal></app-personal>
        </div>
    </app-sidenav>

</div>

